body
{
  margin: 0;
  /* rastafari man jsuis tombé dessus en random j'ai un peu custom il était fade au début */
  background-color: rgb(118, 149, 4); /*couleur du haut*/
  background-image: -webkit-linear-gradient(top, rgb(118, 149, 4), rgb(153,0,0));
  background-image:    -moz-linear-gradient(top, rgb(118, 149, 4), rgb(153,0,0));
  background-image:      -o-linear-gradient(top, rgb(118, 149, 4), rgb(153,0,0));
  background-image:         linear-gradient(to bottom, rgb(118, 149, 4), rgb(153,0,0));
}


#toolbar
{
  height: 100vh;
  width: 15vw;
  background-color: red;
}

#menu
{
  float: right;
}
